@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100');

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color:chartreuse;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5em;
}

header div{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

header div h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 4em;
    margin: 0.3em;
    text-align: center;
}

.header-bottom-line{
    border: 2px solid chartreuse;
    box-shadow: 0px 15px 30px rgba(0, 255, 21, 0.8);
}

header ul{
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    display: flex;
}

header li{
    display: flex !important;
    justify-content: center;
    width: calc(100% / 3);
}

header li button{
    width: 100%;
    height: 4em;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    background-color: transparent;
    color: chartreuse;
    border: none;
    border-right: 2px solid rgba(128, 255, 0, 0.158);
}

header .last-item button{
    border-right: none;
    border-bottom-right-radius: 15px;
}

header li button:hover{
    background-color: rgba(43, 255, 0, 0.041);
}

header .first-item button{
    border-bottom-left-radius: 15px;
}

pre{
    height: auto;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.about ul{
    padding: 20px;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 40px;
    border: 1px dashed rgba(128, 255, 0, 0.25);
    width: fit-content;
    list-style-image: url("http://localhost/eu_dev_perozin/assets/img/crown.svg");
    margin-bottom: 2em;
}

.about{
    display: inline-grid;
    justify-items: center;
    text-align: center;
}

.about p{
    max-width: 70%;
}

table{
    width: 70vw;
}

.about table{
    margin-top: 2em;
    margin-bottom: 2em;
}

.about table td, .about table th{
    border: 1px solid rgba(128, 255, 0, 0.445);
}

.about table th{
    padding: 0.5em;
}

.about table tfoot td{
    font-size: 0.8em;
}

.about img{
    width: 30vw;
    height: 30vh;
    border-radius: 15px;
    filter: brightness(45%);
    margin-right: 2em;
}

.about img.right{
    margin-left: 2em;
}

.img-div{
    display: flex;
    margin-bottom: 3em;
    align-items: center;
    width: 70vw;
}

.img-div p{
    text-align: left;
}
.img-div.right p{
    text-align: end;
}

.img-div.right .right{
    filter: brightness(90%);
}

a{
    color: chartreuse;
    text-shadow: none;
}

a:hover{
    text-shadow: 4px 4px 8px rgb(195, 255, 135);
    font-weight: 700;
}

.back-top{
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2vw;
}