@media (max-width: 1250px) {
    
    .about img{
        width: 39vw;
        height: 44vh;
    }

    .ext{
        width: 1.2vw;
        height: 1.2vw;
    }

    .img-div{
        display: contents;
        width: 100%;
    }
    .img-div img{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .img-div p{
        text-align: center;
    }

    .img-div.right{
        display: flex;
        flex-direction: row-reverse !important;
        flex-flow: wrap-reverse;
        justify-content: center;
    }
    .img-div.right .right{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .img-div.right p{
        text-align: center;
    }

}

@media (max-width: 1000px){
    .back-top{
        background-color: rgba(44, 124, 28, 0.199);
        border-radius: 10px;
    }
    .back-top{
        text-decoration: none;
    }
    .ext{
        width: 1.4vw;
        height: 1.4vw;
    }
}

@media (max-width: 950px) {
    .about img{
        width: 52vw;
        height: 51vh;
    }
    .back-top{
        text-decoration: none;
    }
}

@media (max-width: 790px) {
    .about img{
        width: 69vw;
        height: 51vh;
    }
    .back-top{
        text-decoration: none;
    }
    .ext{
        width: 1.8vw;
        height: 1.8vw;
    }
}

@media (max-width: 700px) {
    table{
        width: 80vw;
    }
    .back-top{
        text-decoration: none;
    }
    .ext{
        width: 2vw;
        height: 2vw;
    }
}

@media (max-width: 650px) {
    .about img{
        width: 75vw;
        height: 51vh;
    }
    .back-top{
        text-decoration: none;
    }
    .ext{
        width: 2.2vw;
        height: 2.2vw;
    }
}

@media (max-width: 550px) {
    #content{
        font-size: 80%;
    }
    .about img{
        width: 75vw;
        height: 41vh;
    }
    table{
        width: 85vw;
    }
    .back-top{
        text-decoration: none;
    }
    .ext{
        width: 2.4vw;
        height: 2.4vw;
    }
}

@media (max-width: 500px) {
    #content{
        font-size: 80%;
    }
    .back-top{
        text-decoration: none;
        width: 35%;
        text-shadow: 4px 4px 8px rgb(195, 255, 135);
    }
    .about img{
        width: 75vw;
        height: 24vh;
    }
    table{
        width: 85vw;
    }
    .ext{
        width: 2.5vw;
        height: 2.5vw;
    }
}